name: New CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run tests
        run: |
          pytest
      
      - name: Build Artifact
        run: |
          mkdir build
          cp app1.py requirements.txt build/
          tar -czf app1.tar.gz build/

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: app1-artifact
          path: app1.tar.gz




